@import "https://fonts.googleapis.com/css?family=Montserrat:200i,400,700"
html
  margin: 0px
  padding: 0px
body
  margin: 0px
  padding: 0px
  font-family: 'Montserrat', sans-serif
.heading
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  background-image: url("bg.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  h1
    padding-bottom: 75px
    font-size: 50px
    color: #fbfbfb
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1)
  h3
    width: 1000px
footer
  display: flex
  flex-direction: row
  justify-content: center
  h5
    padding-left: 20px
    padding-right: 20px
